# Not related to Drupal.
node_modules

# Ignore configuration files that may contain sensitive information.
docroot/sites/*/settings*.php
docroot/sites/*/local.settings*.php

# Ignore paths that contain user-generated content.
docroot/sites/*/files
docroot/sites/*/private
